@import "tailwindcss";

@theme {
  --color-background: oklch(0.08 0 0);
  --color-foreground: oklch(0.98 0 0);
  --font-sans: 'Cairo', sans-serif;
}

@layer base {
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; 
  }

  html {
    scroll-behavior: smooth; /* ده بيساعد الـ JS يعمل سكرول طبيعي */
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-background);
    color: var(--color-foreground);
    line-height: 1.6;
    overflow-x: hidden;
  }

  h1, h2, h3, h4 {
    letter-spacing: -0.025em;
    font-weight: 700;
  }
}
body {
   pointer-events: auto ;
}